.maintext {
  color: #999999;
  font-size: 20px;
  font-weight: 400;
}
body {
  background-color: white;
  font-family: "inter";
  margin: 0 auto;
  width: 100%;
  min-width: 400px;
}
.burger_menu {
  background-color: #999999;
  border-radius: 5px;
  display: block;
  height: 5px;
  margin: 5px;
  width: 30px;
}
.header_burger_menu{
  cursor: pointer;
  position: fixed;
  left: 280px;
  z-index: 99;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
main {
  display: flex;
  margin-left: 20px;

}
.main_text_left {
  position: absolute;
  width: 200px;
  margin-top: 80px;
}
main div img {
  height: 400px;
  position: relative;
  left: 100px;
}
h1 {
  color: #111111;
  font-size: 48px;
  font-weight: 900;
}
h2 {
  color: #111111;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: -10px;
  width: 66%;
}
h3 {
  color: #555555;
  font-size: 16px;
  font-weight: 700;
}
h4 {
  color: #ff3998;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
nav {
  display: none;
}
button {
  width: 126px;
  height: 49px;
  text-align: center;
  font-weight: 600;
  color: #111111;
  border-radius: 30px;
  background-color: white;
  border-style: none;
  border:  1px solid  transparent;
  padding: 2px;
  border-radius: 30px;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, rgb(240, 9, 9), gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.first_section {
  background-image: url(/assets/background.svg);
  background-position: center;
  padding: 50px 20px 20px 20px;
  margin-top: 200px;
  width: 100%;
}
.first_section p {
  color: #111111;
  font-size: 20px;
  font-weight: 400;
  width: 66%;
}
.first_section h3{
  width: 66%
}
.logos_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  width: 290px;
}
.logos_section img{
  width: 130px;
}
.mobil_logo {
  display: none;
}
table {
  padding: 0px 20px 20px 20px;
  width: 290px;
}
.auction_section {
  margin: 50px 20px 20px 20px;
}
.auction_section a {
  text-decoration: underline;
  font-weight: 500;
}
.auction_section_menu {
  display: flex;
}
.auction_section_selection {
  width: 290px;
  margin: 20px;
}
.auction_section_header_text_left {
  color: #ff8139;
  font-size: 8px;
  font-weight: 500;
  text-align: left;
}
.auction_section_header_text_right {
  color: #999999;
  font-size: 8px;
  font-weight: 500;
  text-align: right;
}
.auction_section_table th {
  font-size: 16px;
  font-weight: 500;
}
.auction_section_bottom {
  background-color: rgb(235, 235, 235);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 20px;
  margin-top: -3px;
  width: 290px;
}
.auction_section_bottom_text {
  color: #999999;
  font-size: 14px;
}
.auction_section_bottom_text_right {
  text-align: right;
}
.auction_section_bottom_header_left {
  text-align: left;
}
.auction_section_bottom_header_right {
  text-align: right;
}
.auction_section_bottom_header_right img {
  width: 8px;
  padding-right: 5px;
}
hr {
  color: rgb(235, 235, 235);
}
.bottom_section {
  display: flex;
  margin-left: 20px;
}
.bottom_section_image{
  margin-top: 100px;
}
footer {
  margin-left: 20px;
  margin-top: 60px;
}
footer nav {
  display: flex;
}
footer nav a {
  color: #999999;
  padding-right: 10px;
  text-decoration: none;
}
.footer_menu {
  display: block;
  margin-bottom: 50px;
}
.footer_menu nav {
  display: block;
}
.footer_menu_top {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}
.footer_menu_top a {
  display: block;
  font-size: 16px;
  padding-top: 10px;
}
.footer_menu_bottom {
  display: flex;
  gap: 80px;
  margin-top: 50px;
}
.footer_menu_bottom a {
  display: block;
  font-size: 16px;
  padding-top: 10px;
}
.footer_copyright {
  display: flex;
  color: #999999;
  justify-content: space-between;
}
.footer_copyright_right {
  display: none;
}
